
.modal{
    position: fixed;
    background-color: --bg3;
    top: 50%;
    left: 50%;
    translate:-50% -50%;
    width: 300px;
    padding: 10px;

    >*{
        width: 100%;
    }
    >button{
        margin: 10px 0 5px;
    }
}